<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
   <h1 class="title"><%= title %></h1>
   </header>
   <div class="divi">
   <div class="sub-div">
    <a class="newUser" href="/new">Add New Message</a>
   </div>
   <div class="container">
  
    <% messages.forEach((msg) => { %>
      <div class="msg-box">
      <h3 class="author"><%= msg.user %></h3>
      <p class="msg-txt"><%= msg.text %></p>
      <p class="time"><%= new Date(msg.added) %></p>
      <div class="btn-container">
         <a href="/message/<%= msg.added %>" class="view-btn">View</a>
         <form method="POST" action="/message/<%= msg.added %>/delete">
          <button type="submit" class="dlt-btn">Delete</button>
         </form>
      </div>
      </div>
    <%  }) %>
  </div>
  </div>
  </body>
</html>